# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

uploads/enrollments/*.csv
uploads/reports/*.csv

prisma/seed/courses/*.json
prisma/seed/enrollments/*.csv
prisma/seed/gradeReports/*.csv
prisma/seed/initialUser.ts
prisma/scripts/dev.ts
nginx/
